@using CapaUtilitario.clTarjetas
@model List<clMovimiento>

@{
    ViewData["Title"] = "Movimientos";
}




    <div class="row">

            <table id="Tabla" class="display nowrap" style="width: 100%;">
                <thead>
                    <tr>
                        <td>Fecha Operación</td>
                        <td>Nombre Tipo Movimiento</td>
                        <td>Descripción</td>
                        <td>Referencía</td>
                        <td>Monto</td>
                        <td>Nuevo Saldo</td>


                    </tr>
                </thead>
                <tbody id="Cuerpo Tabla">

                    @foreach (var Tarjeta in Model)
                    {
                        <tr>

                            <td>@Tarjeta.Fecha</td>
                            <td>@Tarjeta.Nombre</td>
                            <td>@Tarjeta.Descripcion</td>
                            <td>@Tarjeta.Referencia</td>
                            <td>@Tarjeta.Monto</td>
                            <td>@Tarjeta.NuevoSaldo</td>   
                        </tr>
                    }
         

                </tbody>
            </table>
        </div>




<script>

    var tabla = $('#Tabla').DataTable({
        language: {
            "decimal": "",
            "emptyTable": "No hay información",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
            "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
            "infoFiltered": "(Filtrado de _MAX_ total entradas)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ Entradas",
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "Buscar:",
            "zeroRecords": "Sin resultados encontrados",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }

        },
        scrollX: true
    });
 

   


    function info() {
        Swal.fire({
            title: 'Información',
            text: 'Esta es la información de la tarjeta',
            icon: 'info',
            confirmButtonText: 'Aceptar'
        });
    }
    


</script>