@using CapaUtilitario.clTarjetas
@model List<TCM>

@{
    ViewData["Title"] = "TCM";
    var TF = ViewBag.Codigo;
}



    <div class="row">

            <table id="Tabla" class="display nowrap" style="width: 100%;">
                <thead>
                    <tr>
                        <td>Fecha</td>
                        <td>Pago Minimo</td>
                        <td>Pago de Contado</td>
                        <td>Intereses Corriente</td>
                        <td>Interes Moratorios</td>
                        <td>Cantidad Operaciones ATM</td>
                        <td>Cantidad Operaciones Ventanilla</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody id="Cuerpo Tabla">

                    @foreach (var Tarjeta in Model)
                    {
                        <tr>
                            <td>@Tarjeta.Fecha</td>
                            <td>@Tarjeta.PagoMinimo</td>
                            <td>@Tarjeta.PagoContado</td>
                            <td>@Tarjeta.InteresesCorrientes</td>
                            <td>@Tarjeta.InteresMoratorios</td>
                            <td>@Tarjeta.CantidadOperacionesATM</td>
                            <td>@Tarjeta.CantidadOperacioneVentanilla</td>
                            <td>
                        <button class="btn btn-success btn-sm" title="Info" onclick="info('@TF','@Tarjeta.ID','TCM')">
                                    <i class="fas fa-info"></i>
                                </button>
                                <button class="btn btn-danger btn-sm" title="Eliminar" onclick="eliminar()">
                                    <i class="fas fa-trash-alt"></i>
                                </button>

                            </td>
                        </tr>

                    }

                   
                </tbody>
            </table>
        </div>




<script>


    var tabla = $('#Tabla').DataTable({
        language: {
            "decimal": "",
            "emptyTable": "No hay información",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
            "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
            "infoFiltered": "(Filtrado de _MAX_ total entradas)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ Entradas",
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "Buscar:",
            "zeroRecords": "Sin resultados encontrados",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }

        },
        scrollX: true
    });
 



    function info(codTf, codID,Tipo) {

        window.location.href = '@Url.Action("Movimiento", "Home")' + '?codigoTF=' + encodeURIComponent(codTf) + '&codigoEstado=' + encodeURIComponent(codID) + '&Tipo=' + encodeURIComponent(Tipo);
    }
    


</script>